.button-xsmall {
    font-size: 70%;
}

.button-small {
    font-size: 85%;
}

.button-large {
    font-size: 110%;
}

.button-xlarge {
    font-size: 125%;
}

.button-success {
    color: white;
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    color: white;
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    color: white;
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    color: white;
    background: rgb(66, 184, 221); /* this is a light blue */
}