* {
    font-family: 'Hepta Slab', serif;
    box-sizing: border-box;
    font-size: small;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    min-width: 800px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 48px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pagination-item {
    border-left: 1px solid gray;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 8px 16px;
}

.pagination-item:first-of-type {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination-item:last-of-type {
    border-right: 1px solid gray;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 8px;
    margin-bottom: 16px;
}

.button {
    padding: 8px;
    border-radius: 4px;
    background: deepskyblue;
}